In [1]:
import pandas as pd

In [2]:
dataframe_questao_1 = pd.read_csv("bases/questao1_coronavirus.csv", delimiter=";")

In [3]:
dataframe_questao_1.sample(10)

,date,state,city,new_confirmed,new_deaths,estimated_population_2019
224631,2020-04-16,RO,Jaru,0,0,51775.0
116984,2020-05-27,RO,Presidente Médici,0,0,18986.0
208808,2020-04-26,MS,Selvíria,0,0,6529.0
27924,2020-06-16,RS,Formigueiro,1,0,6664.0
81222,2020-06-04,MA,São Domingos do Maranhão,0,0,34376.0
199590,2020-05-01,SP,Ibirá,0,0,12393.0
58323,2020-06-09,GO,Hidrolina,0,0,3564.0
36076,2020-06-14,PA,São João de Pirabas,0,0,23045.0
158774,2020-05-15,BA,Arataca,2,0,11019.0
97126,2020-06-01,SP,Pardinho,0,0,6435.0

In [44]:
dataframe_questao_1.shape

(240649, 6)

Usaremos como base de informação o site 
https://brasil.io/dataset/covid19/boletim/
que tem a siguinte documentação:

date: data de coleta dos dados no formato YYYY-MM-DD.

state: sigla da unidade federativa, exemplo: SP.

city: nome do município (pode estar em branco quando o registro é referente ao estado, pode ser preenchido com Importados/Indefinidos também).

new_confirmed: número de novos casos confirmados desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro).

new_deaths: número de novos óbitos desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro).

estimated_population_2019: população estimada para esse município/estado em 2019, segundo o IBGE (acesse o script que faz o download e conversão dos dados de população).

In [105]:
estados = dataframe_questao_1.drop("city", 1)

In [169]:
df_estado = estados.loc[estados.state=="SP", :]
df_estado = df_estado.groupby('date').sum()[["new_confirmed", "new_deaths"]].reset_index()
df_estado.head()

         date  new_confirmed  new_deaths
0  2020-02-25              1           0
1  2020-02-26              0           0
2  2020-02-27              0           0
3  2020-02-28              1           0
4  2020-02-29              0           0

In [140]:
df_estado.shape

(118, 3)

In [154]:
df_estado.new_confirmed.sum()

219185

In [170]:
df_estado = estados.loc[estados.state=="SP", :]
df_estado = df_estado.groupby('date').sum()
df_estado.head()

            new_confirmed  new_deaths  estimated_population_2019
date
2020-02-25              1           0                 12252023.0
2020-02-26              0           0                 12252023.0
2020-02-27              0           0                 12252023.0
2020-02-28              1           0                 12252023.0
2020-02-29              0           0                 12252023.0

In [173]:
df_estado[['new_confirmed','new_deaths']] = df_estado[['new_confirmed','new_deaths']].cumsum()
df_estado.tail()

            new_confirmed  new_deaths  estimated_population_2019
date
2020-06-17        4917682      340117                 45671817.0
2020-06-18        5110310      351963                 45681057.0
2020-06-19        5321968      364195                 45729249.0
2020-06-20        5537761      376689                 45746842.0
2020-06-21        5756946      389277                 45748682.0

In [49]:
grouped = estados.groupby(['date','state'])

In [50]:
grouped.sum()

                  new_confirmed  new_deaths  estimated_population_2019
date       state
2020-02-25 SP                 1           0                 12252023.0
2020-02-26 SP                 0           0                 12252023.0
2020-02-27 SP                 0           0                 12252023.0
2020-02-28 SP                 1           0                 12252023.0
2020-02-29 SP                 0           0                 12252023.0
...                         ...         ...                        ...
2020-06-21 RS               210           4                 10889704.0
           SC               474           9                  7054102.0
           SE               536          14                  2298696.0
           SP              3392          94                 45748682.0
           TO                 0           0                  1528801.0

[2711 rows x 3 columns]

In [57]:
resultado = (grouped.state == "SP")

In [58]:
resultado.head()

AttributeError: 'bool' object has no attribute 'head'

In [5]:
dataframe_questao_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240649 entries, 0 to 240648
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       240649 non-null  object
 1   state                      240649 non-null  object
 2   city                       240649 non-null  object
 3   new_confirmed              240649 non-null  int64
 4   new_deaths                 240649 non-null  int64
 5   estimated_population_2019  239206 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 11.0+ MB

In [6]:
dataframe_questao_1.shape

(240649, 6)

In [7]:
#dataframe_questao_1[dataframe_questao_1["estimated_population_2019"].isnull()]["city"].unique()

In [8]:
dataframe_questao_1.dropna(inplace=True)

In [9]:
dataframe_questao_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239206 entries, 0 to 240648
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       239206 non-null  object
 1   state                      239206 non-null  object
 2   city                       239206 non-null  object
 3   new_confirmed              239206 non-null  int64
 4   new_deaths                 239206 non-null  int64
 5   estimated_population_2019  239206 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 12.8+ MB

In [10]:
dataframe_questao_1[dataframe_questao_1["new_confirmed"]<0]["new_confirmed"].unique()

array([   -1,    -3,    -2, -1269,   -31,   -11,    -6,    -8,    -4,
         -35,   -12,   -10,    -9,   -23,   -14,   -24,   -18,   -38,
         -41,   -13,   -25,    -5,   -15,   -21,   -17,    -7,   -20,
         -28,   -29,   -26,   -95,  -142,   -39,   -33,   -37,   -32,
         -36,   -42,   -40,   -43,   -49,   -70,   -50,   -69,   -46,
         -34,   -19,  -160,   -54,   -48,   -45,  -739,   -89,   -91,
        -188,  -101, -4289,   -27,  -130,  -241,  -302,   -52,   -82,
         -60,   -67,  -115,   -22,   -51,   -58,  -349, -1203,   -77,
        -414,   -73,   -16,   -56, -1081,   -64,  -385,   -61,   -72,
         -71,   -94,  -415])

In [11]:
dataframe_questao_1[dataframe_questao_1["new_deaths"]<0]["new_deaths"].unique()

array([  -8,   -1,   -4,   -2,   -3,  -11, -131,  -12,   -5,   -6])

In [12]:
dataframe_questao_1[dataframe_questao_1["new_confirmed"]<0]["new_confirmed"].shape

(3894,)

In [13]:
dataframe_questao_1[dataframe_questao_1["new_deaths"]<0]["new_deaths"].shape

(400,)

In [14]:
teste = pd.read_csv("bases/caso_full.csv")

In [15]:
teste[teste["new_deaths"]<0]["new_deaths"].unique()

array([ -1,  -6,  -2, -10,  -4, -58,  -3, -82, -22, -17, -11, -38, -59,
        -5,  -7])

In [16]:
teste.describe()

,city_ibge_code,epidemiological_week,estimated_population_2019,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_death_rate,last_available_deaths,order_for_place,new_confirmed,new_deaths
count,4.908490e+05,493133.000000,4.908490e+05,493133.000000,479707.000000,493133.000000,493133.000000,493133.000000,493133.000000,493133.000000
mean,3.165190e+06,25.185396,1.180477e+05,474.369850,414.977244,0.044980,19.812726,49.710816,11.602482,0.394906
std,1.020317e+06,4.600946,1.147501e+06,6048.395477,722.691372,0.123945,303.540061,32.125735,143.146758,5.491360
min,1.100000e+01,9.000000,7.810000e+02,0.000000,0.002180,0.000000,0.000000,1.000000,-1578.000000,-82.000000
25%,2.414605e+06,22.000000,6.936000e+03,4.000000,33.621520,0.000000,0.000000,23.000000,0.000000,0.000000
50%,3.137007e+06,26.000000,1.533600e+04,18.000000,144.503580,0.000000,0.000000,46.000000,0.000000,0.000000
75%,4.108700e+06,29.000000,3.421300e+04,92.000000,490.876110,0.039100,2.000000,73.000000,2.000000,0.000000
max,5.300108e+06,32.000000,4.591905e+07,585265.000000,15730.064330,1.000000,24109.000000,164.000000,19030.000000,434.000000

In [17]:
teste.shape

(493133, 17)