In [1]:
import pandas as pd

In [2]:
dataframe_questao_1 = pd.read_csv("bases/questao1_coronavirus.csv", delimiter=";")

Usaremos como base de informação o site 
https://brasil.io/dataset/covid19/boletim/
que tem a siguinte documentação:

date: data de coleta dos dados no formato YYYY-MM-DD.

state: sigla da unidade federativa, exemplo: SP.

city: nome do município (pode estar em branco quando o registro é referente ao estado, pode ser preenchido com Importados/Indefinidos também).

new_confirmed: número de novos casos confirmados desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro).

new_deaths: número de novos óbitos desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro).

estimated_population_2019: população estimada para esse município/estado em 2019, segundo o IBGE (acesse o script que faz o download e conversão dos dados de população).

In [3]:
dataframe_questao_1.sample(10)

,date,state,city,new_confirmed,new_deaths,estimated_population_2019
164345,2020-05-14,SC,Concórdia,59,1,74641.0
100235,2020-05-31,RN,Antônio Martins,0,0,7145.0
68484,2020-06-07,PA,Capitão Poço,0,0,54303.0
187706,2020-05-06,SP,Laranjal Paulista,0,0,28516.0
234766,2020-04-05,PR,Piraquara,0,0,113036.0
10769,2020-06-19,GO,Estrela do Norte,0,0,3275.0
224697,2020-04-16,RS,Pareci Novo,0,0,3837.0
233119,2020-04-07,ES,Importados/Indefinidos,0,0,NaN
226194,2020-04-15,SP,Santa Isabel,0,0,57386.0
122605,2020-05-25,BA,Remanso,4,1,41008.0

In [4]:
estados = dataframe_questao_1.drop("city", 1)
df_estado = estados.groupby(['date', 'state']).sum()
df_estado[['new_confirmed','new_deaths']] = df_estado[['new_confirmed','new_deaths']].cumsum()

In [5]:
dist_df = df_estado.reset_index(level=[0,1])
dist_df[dist_df["state"]=="CE"].head()

           date state  new_confirmed  new_deaths  estimated_population_2019
102  2020-03-16    CE            161           0                  2749613.0
119  2020-03-17    CE            280           0                  2749613.0
136  2020-03-18    CE            341           1                  2958548.0
156  2020-03-19    CE            515           3                  2958548.0
179  2020-03-20    CE            691           7                  3249235.0

In [80]:
dist_df = df_estado.reset_index(level=[0,1])

In [6]:
dist_df.head()

         date state  new_confirmed  new_deaths  estimated_population_2019
0  2020-02-25    SP              1           0                 12252023.0
1  2020-02-26    SP              1           0                 12252023.0
2  2020-02-27    SP              1           0                 12252023.0
3  2020-02-28    SP              2           0                 12252023.0
4  2020-02-29    SP              2           0                 12252023.0

In [64]:
lista_estado = dataframe_questao_1.state.unique()
populacao = 0
for i in lista_estado:
    print(df_estado[i].estimated_population_2019.max())

KeyError: 'AC'

In [15]:
def estado(valor):
    estados = dataframe_questao_1.drop("city", 1)
    df_estado = estados.loc[estados.state==valor, :]
    df_estado = df_estado.groupby('date').sum()
    df_estado[['new_confirmed','new_deaths']] = df_estado[['new_confirmed','new_deaths']].cumsum()
    return df_estado

In [19]:
teste = estado("SP")
teste.head(10)

            new_confirmed  new_deaths  estimated_population_2019
date
2020-02-25              1           0                 12252023.0
2020-02-26              1           0                 12252023.0
2020-02-27              1           0                 12252023.0
2020-02-28              2           0                 12252023.0
2020-02-29              2           0                 12252023.0
2020-03-01              2           0                 12252023.0
2020-03-02              2           0                 12252023.0
2020-03-03              2           0                 12252023.0
2020-03-04              3           0                 12252023.0
2020-03-05              6           0                 12252023.0

In [8]:
teste =teste['2020-02-27' :'2020-03-02']

In [9]:
teste.head(10)

            new_confirmed  new_deaths  estimated_population_2019
date
2020-02-27              1           0                 12252023.0
2020-02-28              2           0                 12252023.0
2020-02-29              2           0                 12252023.0
2020-03-01              2           0                 12252023.0
2020-03-02              2           0                 12252023.0