In [38]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [39]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [40]:
train.drop(['Name','Ticket','Cabin'], axis=1, inplace=True)
test.drop(['Name','Ticket','Cabin'], axis=1, inplace=True)

In [44]:
train[['Sex', 'Embarked','Age']].groupby(by=['Sex', 'Embarked']).mean()

                       Age
Sex    Embarked
female C         28.344262
       Q         24.291667
       S         27.771505
male   C         32.998841
       Q         30.937500
       S         30.291440

In [45]:
new_data_train['Age'].fillna(train[['Sex', 'Embarked','Age']].groupby(by=['Sex', 'Embarked']).mean(), inplace=True)
#new_data_test['Age'].fillna(new_data_test['Age'].mean(), inplace=True)

TypeError: "value" parameter must be a scalar, dict or Series, but you passed a "DataFrame"

In [4]:
new_data_train = pd.get_dummies(train)
new_data_test = pd.get_dummies(test)

In [9]:
train.shape

(891, 9)

In [8]:
new_data_train.isnull().sum().sort_values(ascending=False).head(10)

Age           177
Embarked_S      0
Embarked_Q      0
Embarked_C      0
Sex_male        0
Sex_female      0
Fare            0
Parch           0
SibSp           0
Pclass          0
dtype: int64

In [31]:
manS = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_S'] == 1)]['Age'].mean()
manQ = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_Q'] == 1)]['Age'].mean()
manC = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_C'] == 1)]['Age'].mean()

femaleS = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_S'] == 1)]['Age'].mean()
femaleQ = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_Q'] == 1)]['Age'].mean()
femaleC = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_C'] == 1)]['Age'].mean()

In [12]:
new_data_train['Age'].fillna(new_data_train['Age'].mean(), inplace=True)
new_data_test['Age'].fillna(new_data_test['Age'].mean(), inplace=True)

In [30]:
#Não melhorou, mas util  em outras competições
#new_data_train.dropna(inplace=True)
#new_data_test.dropna(inplace=True)
a = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_S'] == 1)]['Age'].mean()
#new_data_test['Age'][a].mean()
a

29.086066666666667

In [17]:
new_data_test.isnull().sum().sort_values(ascending=False).head(10)

Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Fare          0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [18]:
new_data_test['Fare'].fillna(new_data_test['Fare'].mean(), inplace=True)

In [19]:
x = new_data_train.drop('Survived', axis=1)
y = new_data_train['Survived']

In [20]:
tree = DecisionTreeClassifier(max_depth=3, random_state=0)
tree.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [21]:
tree.score(x,y)

0.8249299719887955

In [14]:
submission = pd.DataFrame()
submission['PassengerId'] = new_data_test['PassengerId']
submission['Survived'] = tree.predict(new_data_test)

In [15]:
submission.to_csv('submission2.csv', index=False)