In [82]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [83]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [84]:
train.drop(['Name','Ticket','Cabin'], axis=1, inplace=True)
test.drop(['Name','Ticket','Cabin'], axis=1, inplace=True)

In [85]:
train[['Sex', 'Embarked','Age']].groupby(by=['Sex', 'Embarked']).mean()

                       Age
Sex    Embarked
female C         28.344262
       Q         24.291667
       S         27.771505
male   C         32.998841
       Q         30.937500
       S         30.291440

In [86]:
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [87]:
new_data_train = pd.get_dummies(train)
new_data_test = pd.get_dummies(test)

In [88]:
new_data_train.sample(5)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
566,567,0,3,19.0,0,0,7.8958,0,1,0,0,1
506,507,1,2,33.0,0,2,26.0000,1,0,0,0,1
522,523,0,3,NaN,0,0,7.2250,0,1,1,0,0
500,501,0,3,17.0,0,0,8.6625,0,1,0,0,1
740,741,1,1,NaN,0,0,30.0000,0,1,0,0,1

In [93]:
new_data_train.isnull().sum().sort_values(ascending=False)

Embarked_S     0
Embarked_Q     0
Embarked_C     0
Sex_male       0
Sex_female     0
Fare           0
Parch          0
SibSp          0
Age            0
Pclass         0
Survived       0
PassengerId    0
dtype: int64

In [90]:
trainManS = new_data_train[(new_data_train['Sex_male'] == 1) & (new_data_train['Embarked_S'] == 1)]['Age'].mean()
trainManQ = new_data_train[(new_data_train['Sex_male'] == 1) & (new_data_train['Embarked_Q'] == 1)]['Age'].mean()
trainManC = new_data_train[(new_data_train['Sex_male'] == 1) & (new_data_train['Embarked_C'] == 1)]['Age'].mean()

trainFemaleS = new_data_train[(new_data_train['Sex_male'] == 1) & (new_data_train['Embarked_S'] == 1)]['Age'].mean()
trainFemaleQ = new_data_train[(new_data_train['Sex_male'] == 1) & (new_data_train['Embarked_Q'] == 1)]['Age'].mean()
trainFemaleC = new_data_train[(new_data_train['Sex_male'] == 1) & (new_data_train['Embarked_C'] == 1)]['Age'].mean()

In [91]:
testManS = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_S'] == 1)]['Age'].mean()
testManQ = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_Q'] == 1)]['Age'].mean()
testManC = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_C'] == 1)]['Age'].mean()

testFemaleS = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_S'] == 1)]['Age'].mean()
testFemaleQ = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_Q'] == 1)]['Age'].mean()
testFemaleC = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_C'] == 1)]['Age'].mean()

In [92]:
for index, row in new_data_train.iterrows():
    if(str(row['Age']) == 'nan'):
        if(row['Embarked_S'] == 1):
            if(row['Sex_male'] ==1):
                new_data_train.loc[ index, 'Age' ] = trainFemaleS
            else:
                new_data_train.loc[ index, 'Age' ] = trainManS
        if(row['Embarked_Q'] == 1):
            if(row['Sex_male'] ==1):
                new_data_train.loc[ index, 'Age' ] = trainFemaleQ
            else:
                new_data_train.loc[ index, 'Age' ] = trainManQ
        if(row['Embarked_C'] == 1):
            if(row['Sex_male'] ==1):
                new_data_train.loc[ index, 'Age' ] = trainFemaleC
            else:
                new_data_train.loc[ index, 'Age' ] = trainManC 

for index, row in new_data_test.iterrows():
    if(str(row['Age']) == 'nan'):
        if(row['Embarked_S'] == 1):
            if(row['Sex_male'] ==1):
                new_data_test.loc[ index, 'Age' ] = testFemaleS
            else:
                new_data_test.loc[ index, 'Age' ] = testManS
        if(row['Embarked_Q'] == 1):
            if(row['Sex_male'] ==1):
                new_data_test.loc[ index, 'Age' ] = testFemaleQ
            else:
                new_data_test.loc[ index, 'Age' ] = testManQ
        if(row['Embarked_C'] == 1):
            if(row['Sex_male'] ==1):
                new_data_test.loc[ index, 'Age' ] = testFemaleC
            else:
                new_data_test.loc[ index, 'Age' ] = testManC

In [94]:
#Não melhorou, mas util  em outras competições
#new_data_train.dropna(inplace=True)
#new_data_test.dropna(inplace=True)
#a = new_data_test[(new_data_test['Sex_male'] == 1) & (new_data_test['Embarked_S'] == 1)]['Age'].mean()
#new_data_test['Age'][a].mean()
#a

In [95]:
new_data_test.isnull().sum().sort_values(ascending=False).head(10)

Fare          1
Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [96]:
new_data_test['Fare'].fillna(new_data_test['Fare'].mean(), inplace=True)

In [97]:
x = new_data_train.drop('Survived', axis=1)
y = new_data_train['Survived']

In [112]:
tree = DecisionTreeClassifier(max_depth=10, random_state=0)
tree.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [113]:
tree.score(x,y)

0.9315375982042648

In [114]:
submission = pd.DataFrame()
submission['PassengerId'] = new_data_test['PassengerId']
submission['Survived'] = tree.predict(new_data_test)

In [115]:
submission.to_csv('submission2.csv', index=False)