In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\eduardo\appdata\roaming\python\python39\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\eduardo\appdata\roaming\python\python39\site-packages (from mysql-connector-python) (4.21.12)

In [8]:
import mysql.connector

In [32]:
conexao = mysql.connector.connect(host='localhost', user='root', password='1234', database='sqlestudo')

In [34]:
cursor = conexao.cursor()

In [35]:
nome = "Todynho"
valor = 4
comando = f'INSERT INTO vendas (nome, valor) VALUES ("{nome}", "{valor}")'
cursor.execute(comando) # Executa o comando
conexao.commit() # Edita o banco
resultado = cursor.fetchall() # ler o banco

In [36]:
resultado

[]

In [37]:
nome = "teste"
valor = 15
comando = f'INSERT INTO vendas (nome, valor) VALUES ("{nome}", "{valor}")'
cursor.execute(comando)
conexao.commit()

In [38]:
comando = f'SELECT * FROM vendas'
cursor.execute(comando)
resultado = cursor.fetchall() # ler o banco
resultado

[(1, 'Todynho', 4), (3, 'teste', 15), (4, 'Todynho', 4), (5, 'teste', 15)]

In [24]:
nome = "Bolo"
idvendas = 2
comando = f'UPDATE vendas SET nome = "{nome}" where idVendas = {idvendas}'
#comando = f'UPDATE vendas SET nome = "{nome}" WHERE nome = "Todynho"'
cursor.execute(comando)
conexao.commit()

In [31]:
nome = "Bolo"
idvendas = 2
comando = f'DELETE FROM vendas where idVendas = {idvendas}'
#comando = f'UPDATE FROM vendas SET nome = "{nome}" WHERE nome = "Todynho"'
cursor.execute(comando)
conexao.commit()

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10038 Foi tentada uma operação em algum item que não é um soquete

In [30]:
conexao.close()