In [1]:
import pandas as pd
import numpy as np

In [2]:
mercado = pd.read_csv('data/estaticos_market.csv', index_col=0)

In [4]:
mercado.shape

(462298, 181)

In [5]:
empresa1.head()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,False,...,NaN,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4
2,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,False,...,39.454762,91.2,19.333333,14.0,15.0,25.0,-6.666667,-44.0,0.0,3

In [6]:
mercado['de_ramo'].unique()

array(['INDUSTRIA DA CONSTRUCAO', 'SERVICOS DE ALOJAMENTO/ALIMENTACAO',
       'TRANSPORTE, ARMAZENAGEM E CORREIO', 'SERVICOS DIVERSOS',
       'SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS',
       'QUIMICA-PETROQUIMICA', 'SERVICOS ADMINISTRATIVOS',
       'BENS DE CONSUMO', 'COMERCIO VAREJISTA', 'INDUSTRIA DIGITAL',
       'TEXTEIS', 'COMERCIO POR ATACADO', 'TELECOM', 'SERVICOS DE SAUDE',
       'COMERCIO E REPARACAO DE VEICULOS', 'CULTURA, ESPORTE E RECREACAO',
       'SERVICOS FINANCEIROS', 'SERVICOS DE EDUCACAO',
       'PRODUTOS DE AGROPECUARIA',
       'ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL',
       'PAPEL E CELULOSE', 'SIDERURGICA-METALURGIA', 'OUTROS',
       'SEGUROS, PLANOS DE PREVIDENCIA E PLANOS DE SAUDE',
       'ELETRICIDADE E GAS', 'INDUSTRIAS EXTRATIVAS', 'ELETROELETRONICOS',
       'SERVICOS DE SANEAMENTO BASICO', 'ATIVIDADES IMOBILIARIAS',
       'SERVICOS SOCIAIS', 'INDUSTRIA AUTOMOTIVA',
       'ORGANISMOS INTERNACIONAIS', 'FARMACEUTICA'], dtype=object)

In [7]:
mercado['setor'].unique()

array(['CONSTRUÇÃO CIVIL', 'SERVIÇO', 'INDUSTRIA', 'COMERCIO',
       'AGROPECUARIA', nan], dtype=object)

In [8]:
teste= mercado[mercado['setor'].isnull()]

In [9]:
teste['de_ramo'].unique()

array(['OUTROS'], dtype=object)

In [10]:
mercado['setor'].fillna('SETOR INDEFINIDO', inplace=True)

In [11]:
mercado['setor'].unique()

array(['CONSTRUÇÃO CIVIL', 'SERVIÇO', 'INDUSTRIA', 'COMERCIO',
       'AGROPECUARIA', 'OUTROS'], dtype=object)

In [12]:
mercado['de_natureza_juridica'].unique()

array(['SOCIEDADE EMPRESARIA LIMITADA', 'EMPRESARIO INDIVIDUAL',
       'COOPERATIVA', 'ASSOCIACAO PRIVADA', 'ENTIDADE SINDICAL',
       'CONSORCIO DE SOCIEDADES', 'SOCIEDADE DE ECONOMIA MISTA',
       'CONDOMINIO EDILICIO', 'ORGAO PUBLICO DO PODER EXECUTIVO FEDERAL',
       'MUNICIPIO', 'ORGAO DE DIRECAO LOCAL DE PARTIDO POLITICO',
       'SOCIEDADE ANONIMA ABERTA',
       'EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA DE NATUREZA EMPRESARIA',
       'CANDIDATO A CARGO POLITICO ELETIVO',
       'EMPRESA INDIVIDUAL IMOBILIARIA',
       'ORGAO PUBLICO DO PODER EXECUTIVO ESTADUAL OU DO DISTRITO FEDERAL',
       'SOCIEDADE SIMPLES LIMITADA', 'FUNDACAO PRIVADA',
       'ORGAO PUBLICO DO PODER EXECUTIVO MUNICIPAL',
       'SOCIEDADE ANONIMA FECHADA', 'ORGANIZACAO RELIGIOSA',
       'SOCIEDADE UNIPESSOAL DE ADVOCACIA', 'SOCIEDADE SIMPLES PURA',
       'AUTARQUIA FEDERAL', 'ORGAO PUBLICO DO PODER JUDICIARIO ESTADUAL',
       'EMPRESA PUBLICA', 'SOCIEDADE EMPRESARIA EM NOME COLETIVO',
       'AUTARQUIA MUNICIPAL', 'FUNDO PUBLICO',
       'AUTARQUIA ESTADUAL OU DO DISTRITO FEDERAL',
       'FUNDACAO PUBLICA DE DIREITO PUB MUNICIPAL',
       'EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITADA DE NATUREZA SIMPLES',
       'ORGAO PUBLICO DO PODER LEGISLATIVO MUNICIPAL',
       'SERVICO NOTARIAL E REGISTRAL CARTORIO', 'ORGANIZACAO SOCIAL OS',
       'CONSORCIO PUBDE DIREITO PUB ASS PUB',
       'ORGAO DE DIRECAO REGIONAL DE PARTIDO POLITICO',
       'SERVICO SOCIAL AUTONOMO', 'SOCIEDADE EM CONTA DE PARTICIPACAO',
       'GRUPO DE SOCIEDADES',
       'SOCIEDADE MERCANTIL DE CAPITAL E INDUSTRIA',
       'FUNDACAO PUBLICA DE DIREITO PRIVADO MUNICIPAL',
       'ORGAO PUBLICO AUTONOMO MUNICIPAL',
       'ORGAO PUBLICO DO PODER JUDICIARIO FEDERAL',
       'NATUREZA JURIDICA INVALIDA',
       'SOCIEDADE EMPRESARIA EM COMANDITA POR ACOES',
       'FUNDACAO PUBLICA DE DIREITO PUBFEDERAL',
       'ORGAO PUBLICO AUTONOMO ESTADUAL OU DO DISTRITO FEDERAL',
       'ESTABELECIMENTO NO BRASIL DE SOCIEDADE ESTRANGEIRA',
       'FUNDACAO PUB DE DIREITO PUB EST OU DO DF',
       'ORGAO PUBLICO DO PODER LEGISLATIVO ESTADUAL OU DO DISTRITO FEDERAL',
       'ENTIDADE DE MEDIACAO E ARBITRAGEM', 'COMUNIDADE INDIGENA',
       'FUNDACAO PUBLICA DE DIREITO PRIVADO FEFERAL',
       'ESTABELECIMENTO NO BRASIL DE FUNDACAO OU ASSOCIACAO ESTRANGEIRAS',
       'CLUBE FUNDO DE INVESTIMENTO',
       'REPRESENTACAO DIPLOMATICA ESTRANGEIRA',
       'SOCIEDADE SIMPLES EM COMANDITA SIMPLES',
       'CONSORCIO PUBLICO DE DIREITO PRIVADO',
       'FRENTE PLEBISCITARIA OU REFERENDARIA',
       'SOCIEDADE EMPRESARIA EM COMANDITA SIMPLES',
       'CONSORCIO DE EMPREGADORES', 'SOCIEDADE SIMPLES EM NOME COLETIVO',
       'FUNDO PRIVADO', 'ESTADO OU DISTRITO FEDERAL',
       'ORGAO PUBLICO DO PODER LEGISLATIVO FEDERAL',
       'ORGAO DE DIRECAO NACIONAL DE PARTIDO POLITICO'], dtype=object)

In [13]:
mercado['natureza_juridica_macro'].unique()

array(['ENTIDADES EMPRESARIAIS', 'OUTROS',
       'ENTIDADES SEM FINS LUCRATIVOS', 'ADMINISTRACAO PUBLICA',
       'CARGO POLITICO', 'PESSOAS FISICAS',
       'INSTITUICOES EXTRATERRITORIAIS'], dtype=object)

In [107]:
mercado['idade_emp_cat'].unique()

array(['10 a 15', '1 a 5', '5 a 10', '> 20', '<= 1', '15 a 20'],
      dtype=object)

In [108]:
mercado['idade_empresa_anos'].unique()

array([14.45753425,  1.4630137 ,  7.09315068, ..., 44.61643836,
       27.30958904, 41.95616438])

In [87]:
mercado_simplificado = mercado.copy()

In [88]:
colunas_duplicadas = ['de_natureza_juridica', 'de_ramo', 'idade_empresa_anos']
mercado_simplificado.drop(columns=colunas_duplicadas, inplace=True)

Importante conhecimento sobre algusn termos
https://capitalsocial.cnt.br/qual-a-diferenca-entre-mei-ei-me-e-epp/

In [90]:
#colunas_pessoa_juridica = ['fl_me', 'fl_sa', 'fl_epp', 'fl_mei', 'fl_ltda']
#mercado_simplificado.drop(columns=colunas_pessoa_juridica, inplace=True)

In [91]:
colunas_irs = ['dt_situacao' ]
mercado_simplificado.drop(columns=colunas_irs, inplace=True)

In [92]:
#colunas_talvez = ['nm_divisao', 'nm_segmento']
#mercado_simplificado.drop(columns=colunas_talvez, inplace=True)

Colunas referentes a trasnpostes terrestres da empresa

In [93]:
colunas_transporte_terrestre = ['fl_spa', 'fl_antt', 'fl_veiculo', 'vl_total_veiculos_antt', 
                                'vl_total_veiculos_leves', 'vl_total_veiculos_pesados', 
                                'vl_total_veiculos_pesados_grupo', 'vl_total_veiculos_leves_grupo', 
                                'vl_total_tancagem_grupo', 'vl_total_veiculos_antt_grupo', 
                                'vl_potenc_cons_oleo_gas', 'vl_total_tancagem', 'vl_frota']
mercado_simplificado.drop(columns=colunas_transporte_terrestre, inplace=True)

In [94]:
#colunas_empreendedor_tipo = ['fl_optante_simples', 'fl_optante_simei', 'fl_simples_irregular', 
#                             'fl_passivel_iss']
#mercado_simplificado.drop(columns=colunas_empreendedor_tipo, inplace=True)

In [95]:
colunas_empresa = ['sg_uf_matriz', 'de_saude_tributaria', 'de_saude_rescencia','nu_meses_rescencia', 
                   'de_indicador_telefone', 'empsetorcensitariofaixarendapopulacao', 'nm_meso_regiao', 
                   'nm_micro_regiao', 'qt_art']
mercado_simplificado.drop(columns=colunas_empresa, inplace=True)

In [96]:
colunas_socio = ['qt_socios', 'qt_socios_pf', 'qt_socios_pj', 'idade_media_socios', 'qt_socios', 'qt_socios_pf', 
                 'idade_maxima_socios', 'idade_minima_socios', 'qt_socios_st_regular', 'qt_socios_st_suspensa', 
                 'qt_socios_masculino', 'qt_socios_feminino', 'qt_socios_pep', 'qt_alteracao_socio_total', 
                 'qt_alteracao_socio_90d', 'qt_alteracao_socio_180d', 'qt_alteracao_socio_365d', 
                 'qt_socios_pj_ativos', 'qt_socios_pj_nulos', 'qt_socios_pj_baixados', 'qt_socios_pj_suspensos', 
                 'qt_socios_pj_inaptos', 'vl_idade_media_socios_pj', 'vl_idade_maxima_socios_pj', 
                 'vl_idade_minima_socios_pj', 'qt_coligados', 'qt_socios_coligados', 'qt_coligados_matriz', 
                 'qt_coligados_ativo', 'qt_coligados_baixada', 'qt_coligados_inapta', 'qt_coligados_suspensa', 
                 'qt_coligados_nula', 'idade_media_coligadas', 'idade_minima_coligadas', 
                 'coligada_mais_nova_ativa', 'coligada_mais_antiga_ativa', 'idade_media_coligadas_ativas', 
                 'coligada_mais_nova_baixada', 'coligada_mais_antiga_baixada', 'idade_media_coligadas_baixadas', 
                 'qt_coligados_sa', 'qt_coligados_me', 'qt_coligados_mei', 'qt_coligados_ltda', 
                 'qt_coligados_epp', 'qt_coligados_norte', 'qt_coligados_sul', 'qt_coligados_nordeste', 
                 'qt_coligados_centro', 'idade_maxima_coligadas', 'qt_coligados_sudeste', 
                 'qt_coligados_exterior', 'qt_ufs_coligados', 'qt_regioes_coligados', 'qt_ramos_coligados', 
                 'qt_coligados_industria', 'qt_coligados_agropecuaria', 'qt_coligados_comercio', 
                 'qt_coligados_serviço', 'qt_coligados_ccivil', 'qt_funcionarios_coligados', 
                 'qt_funcionarios_coligados_gp', 'media_funcionarios_coligados_gp', 
                 'max_funcionarios_coligados_gp', 'min_funcionarios_coligados_gp', 'vl_folha_coligados', 
                 'media_vl_folha_coligados', 'max_vl_folha_coligados', 'min_vl_folha_coligados', 
                 'vl_folha_coligados_gp', 'media_vl_folha_coligados_gp', 'max_vl_folha_coligados_gp', 
                 'min_vl_folha_coligados_gp', 'faturamento_est_coligados', 'media_faturamento_est_coligados', 
                 'max_faturamento_est_coligados', 'min_faturamento_est_coligados', 'total_filiais_coligados',
                 'faturamento_est_coligados_gp', 'media_faturamento_est_coligados_gp', 
                 'max_faturamento_est_coligados_gp', 'min_faturamento_est_coligados_gp', 
                 'media_filiais_coligados', 'max_filiais_coligados', 'min_filiais_coligados', 
                 'qt_coligados_atividade_alto', 'qt_coligados_atividade_medio', 'qt_coligados_atividade_baixo', 
                 'qt_coligados_atividade_mt_baixo', 'qt_coligados_atividade_inativo', 'qt_coligadas']
mercado_simplificado.drop(columns=colunas_socio, inplace=True)

Mantem só 'de_faixa_faturamento_estimado', 'de_faixa_faturamento_estimado_grupo',

In [97]:
colunas_faturamento = ['sum_faturamento_estimado_coligadas', 'vl_faturamento_estimado_aux', 
                       'vl_faturamento_estimado_grupo_aux']
mercado_simplificado.drop(columns=colunas_faturamento, inplace=True)

In [98]:
colunas_funcionarios = ['qt_ex_funcionarios', 'qt_funcionarios_grupo', 'percent_func_genero_masc', 
                        'percent_func_genero_fem', 'idade_ate_18', 'idade_de_19_a_23', 'idade_de_24_a_28', 
                        'idade_de_29_a_33', 'idade_de_34_a_38', 'idade_de_39_a_43', 'idade_de_44_a_48', 
                        'idade_de_49_a_53', 'idade_de_54_a_58','idade_acima_de_58', 
                        'grau_instrucao_macro_analfabeto', 'grau_instrucao_macro_escolaridade_fundamental', 
                        'grau_instrucao_macro_escolaridade_media', 'grau_instrucao_macro_escolaridade_superior', 
                        'grau_instrucao_macro_desconhecido', 'total']
mercado_simplificado.drop(columns=colunas_funcionarios, inplace=True)

In [99]:
colunas_num_func = ['meses_ultima_contratacaco', 'qt_admitidos_12meses', 'qt_desligados_12meses', 
                       'qt_desligados', 'qt_admitidos', 'media_meses_servicos_all', 
                       'max_meses_servicos_all', 'min_meses_servicos_all', 'media_meses_servicos', 
                       'max_meses_servicos', 'min_meses_servicos']
mercado_simplificado.drop(columns=colunas_num_func, inplace=True)

In [100]:
colunas_contratacao = ['qt_funcionarios', 'qt_funcionarios_12meses', 'qt_funcionarios_24meses', 
                       'tx_crescimento_12meses', 'tx_crescimento_24meses', 'tx_rotatividade']
mercado_simplificado.drop(columns=colunas_contratacao, inplace=True)

In [101]:
#colunas_faltantes = ['nm_divisao', 'nm_segmento', 'de_nivel_atividade']
#mercado_simplificado.drop(columns=colunas_faltantes, inplace=True)

In [104]:
boleanas = ['fl_matriz','fl_st_especial', 'fl_optante_simples', 'fl_optante_simei', 'fl_simples_irregular', 
            'fl_passivel_iss']
for valor in boleanas:    
    mercado_simplificado[valor].fillna(False, inplace=True)
    mercado_simplificado[valor] = mercado_simplificado[valor].astype(int)

In [105]:
mercado_simplificado.head().T

,0,1,2,3,4
id,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...
fl_matriz,1,1,1,1,1
sg_uf,RN,PI,AM,AM,RN
natureza_juridica_macro,ENTIDADES EMPRESARIAIS,OUTROS,OUTROS,OUTROS,OUTROS
setor,CONSTRUÇÃO CIVIL,SERVIÇO,SERVIÇO,SERVIÇO,SERVIÇO
idade_emp_cat,10 a 15,1 a 5,5 a 10,5 a 10,1 a 5
fl_st_especial,0,0,0,0,0
fl_optante_simples,1,0,1,1,1
fl_optante_simei,0,0,1,0,0
fl_simples_irregular,0,0,0,0,0
fl_passivel_iss,1,1,1,1,1
qt_filiais,0,0,0,0,0

In [30]:
mercado_simplificado.shape

(462298, 12)

In [31]:
mercado_simplificado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 462298 entries, 0 to 462297
Data columns (total 12 columns):
id                         462298 non-null object
fl_matriz                  462298 non-null bool
sg_uf                      462298 non-null object
natureza_juridica_macro    462298 non-null object
setor                      462298 non-null object
idade_emp_cat              462298 non-null object
fl_st_especial             462298 non-null bool
fl_optante_simples         379585 non-null object
fl_optante_simei           379585 non-null object
fl_simples_irregular       460371 non-null object
fl_passivel_iss            460371 non-null object
qt_filiais                 462298 non-null int64
dtypes: bool(2), int64(1), object(9)
memory usage: 39.7+ MB

In [56]:
empresa1_ajustada = empresa1.copy()
empresa1_ajustada['Cliente'] = int(1)
empresa1_ajustada = empresa1_ajustada[['id','Cliente']]

In [57]:
empresa1_ajustada.head()

                                                  id  Cliente
0  dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...        1
1  32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...        1
2  a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...        1
3  6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...        1
4  f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...        1

In [58]:
cliente_empresa1 = mercado.copy()

In [59]:
cliente_empresa1.shape

(462298, 181)

In [60]:
cliente_empresa1 = pd.merge(mercado, empresa1_ajustada, on='id', how='outer')

In [61]:
cliente_empresa1['Cliente'].fillna(0, inplace=True)

In [62]:
cliente_empresa1.shape

(462298, 182)

In [55]:
cliente_empresa1.head()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,Cliente
0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,False,...,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0,0.0
1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0

In [39]:
numeric_features = cliente_empresa1.select_dtypes(include=[np.number])

In [40]:
numeric_features.shape

(462298, 146)

In [41]:
corr = numeric_features.corr()
print (corr['Cliente'].sort_values(ascending=False)[:15], '\n')
print (corr['Cliente'].sort_values(ascending=False)[-10:])

Cliente                             1.000000
percent_func_genero_fem             0.003998
qt_socios_st_suspensa               0.002023
qt_coligados_comercio               0.001844
min_faturamento_est_coligados_gp    0.001315
qt_socios_feminino                  0.000739
idade_empresa_anos                  0.000687
nu_meses_rescencia                  0.000339
tx_rotatividade                     0.000315
min_faturamento_est_coligados       0.000234
tx_crescimento_24meses              0.000116
min_meses_servicos                  0.000091
min_filiais_coligados               0.000053
min_funcionarios_coligados_gp      -0.000074
min_vl_folha_coligados_gp          -0.000176
Name: Cliente, dtype: float64

qt_alteracao_socio_90d              NaN
qt_alteracao_socio_180d             NaN
qt_alteracao_socio_365d             NaN
qt_coligados_nula                   NaN
qt_coligados_atividade_alto         NaN
qt_coligados_atividade_medio        NaN
qt_coligados_atividade_baixo        NaN
qt_coligados_atividade_mt_baixo     NaN
qt_coligados_atividade_inativo      NaN
grau_instrucao_macro_desconhecido   NaN
Name: Cliente, dtype: float64