In [1]:
def import_query(path):
    with open(path, 'r') as open_file:
        return open_file.read()

In [2]:
query = import_query("data_sql/vendas.sql")

In [3]:
print(query)

-- CREATE TABLE sandbox.analystics_churn_model.fs_vendedor_vendas AS

WITH tbl_pedido AS
(
SELECT
t2.*, t1.dtPedido
FROM
  silver.olist.pedido t1
LEFT JOIN
  silver.olist.item_pedido t2
    ON t1.idPedido = t2.idPedido
WHERE
  dtPedido >= ADD_MONTHS('{date}', -6)
AND
  dtPedido < '{date}'
AND
  idVendedor IS NOT NULL
),

tbl_summary AS
(SELECT
  idVendedor,
  COUNT(DISTINCT idPedido) AS QntPedidos,
  COUNT(DISTINCT DATE(dtPedido)) AS QntDias,
  COUNT(DISTINCT idProduto) AS QntItens,
  DATEDIFF('{date}', MAX(dtPedido)) AS QntRecencia,
  SUM(vlPreco)/ COUNT(DISTINCT idPedido) AS AvgTicket,
  AVG(vlPreco) AS AvgValorProduto,
  MAX(vlPreco) AS MAXValorProduto,
  MIN(vlPreco) AS MINValorProduto,
  COUNT(idProduto) / COUNT(DISTINCT idPedido) AS AvgProdutoPedido
FROM
  tbl_pedido
GROUP BY
  idVendedor),


tbl_min_max AS (
SELECT
  idVendedor,
  MAX(vlPreco) AS MAXValorPedido,
  MIN(vlPreco) AS MINValorPedido
FROM
  (
  SELECT
    idVendedor,
    idPedido,
    SUM(vlPreco) AS vlPreco
  FROM
    tbl_pedido
  GROUP BY
    idVendedor,
    idPedido
  )
GROUP BY
  idVendedor),

tbl_life AS (
SELECT
    t2.idVendedor,
    SUM(vlPreco) AS LTV,
    MAX(DATEDIFF('{date}', dtPedido)) AS qtnDiasBase
FROM
  silver.olist.pedido t1
LEFT JOIN
  silver.olist.item_pedido t2
    ON t1.idPedido = t2.idPedido
WHERE
  dtPedido < '{date}'
AND
  idVendedor IS NOT NULL
GROUP BY
  t2.idVendedor),

tbl_intervalo AS (
SELECT
  idVendedor,
  AVG(DATEDIFF(dtPedido, NextDatePedido)) AS AvgIntervaloVendas
FROM
(SELECT DISTINCT
  idVendedor,
  DATE(dtPedido) AS dtPedido,
  LAG(DATE(dtPedido),1) OVER (PARTITION BY IdVendedor ORDER BY dtPedido) AS NextDatePedido
FROM
  tbl_pedido)
GROUP BY idVendedor)


SELECT
  '{date}' DateRef,
  t1.*,
  t2.MAXValorPedido,
  t2.MINValorPedido,
  t3.LTV,
  t3.qtnDiasBase,
  t4.AvgIntervaloVendas
FROM
  tbl_summary t1
LEFT JOIN
  tbl_min_max t2
    ON t1.idVendedor = t2.idVendedor
LEFT JOIN
  tbl_life t3
    ON t1.idVendedor = t3.idVendedor
LEFT JOIN
  tbl_intervalo t4
    ON t1.idVendedor = t4.idVendedor

In [4]:
# pip install pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("Olist - Teo").config('spark.sql.repl.eagerEval.enabled', True).getOrCreate()

In [7]:
spark

In [8]:
df = spark.read.csv("data/produto.csv")

In [10]:
df.show()

+--------------------+--------------------+-------------+------------------+-------+------------+---------------+----------+-----------+
|                 _c0|                 _c1|          _c2|               _c3|    _c4|         _c5|            _c6|       _c7|        _c8|
+--------------------+--------------------+-------------+------------------+-------+------------+---------------+----------+-----------+
|           idProduto|       descCategoria|nrTamanhoNome|nrTamanhoDescricao|nrFotos|vlPesoGramas|vlComprimentoCm|vlAlturaCm|vlLarguraCm|
|1e9e8ef04dbcff454...|          perfumaria|         40.0|             287.0|    1.0|       225.0|           16.0|      10.0|       14.0|
|3aa071139cb16b67c...|               artes|         44.0|             276.0|    1.0|      1000.0|           30.0|      18.0|       20.0|
|96bd76ec8810374ed...|       esporte_lazer|         46.0|             250.0|    1.0|       154.0|           18.0|       9.0|       15.0|
|cef67bcfe19066a93...|               bebes|         27.0|             261.0|    1.0|       371.0|           26.0|       4.0|       26.0|
|9dc1a7de274444849...|utilidades_domest...|         37.0|             402.0|    4.0|       625.0|           20.0|      17.0|       13.0|
|41d3672d4792049fa...|instrumentos_musi...|         60.0|             745.0|    1.0|       200.0|           38.0|       5.0|       11.0|
|732bd381ad09e530f...|          cool_stuff|         56.0|            1272.0|    4.0|     18350.0|           70.0|      24.0|       44.0|
|2548af3e6e77a690c...|    moveis_decoracao|         56.0|             184.0|    2.0|       900.0|           40.0|       8.0|       40.0|
|37cc742be07708b53...|    eletrodomesticos|         57.0|             163.0|    1.0|       400.0|           27.0|      13.0|       17.0|
|8c92109888e8cdf9d...|          brinquedos|         36.0|            1156.0|    1.0|       600.0|           17.0|      10.0|       12.0|
|14aa47b7fe5c25522...|     cama_mesa_banho|         54.0|             630.0|    1.0|      1100.0|           16.0|      10.0|       16.0|
|03b63c5fc16691530...|               bebes|         49.0|             728.0|    4.0|      7150.0|           50.0|      19.0|       45.0|
|cf55509ea8edaaac1...|instrumentos_musi...|         43.0|            1827.0|    3.0|       250.0|           17.0|       7.0|       17.0|
|7bb6f29c2be577161...|    moveis_decoracao|         51.0|            2083.0|    2.0|       600.0|           68.0|      11.0|       13.0|
|eb31436580a610f20...|construcao_ferram...|         59.0|            1602.0|    4.0|       200.0|           17.0|       7.0|       17.0|
|3bb7f144022e67327...|       esporte_lazer|         22.0|            3021.0|    1.0|       800.0|           16.0|       2.0|       11.0|
|6a2fb4dd53d2cdb88...|          perfumaria|         39.0|             346.0|    2.0|       400.0|           27.0|       5.0|       20.0|
|a1b71017a84f92fd8...|informatica_acess...|         59.0|             636.0|    1.0|       900.0|           40.0|      15.0|       20.0|
|a0736b92e52f6cead...|    moveis_decoracao|         56.0|             296.0|    2.0|      1700.0|          100.0|       7.0|       15.0|
+--------------------+--------------------+-------------+------------------+-------+------------+---------------+----------+-----------+
only showing top 20 rows

In [9]:
df = spark.sql(query)

AnalysisException: [REQUIRES_SINGLE_PART_NAMESPACE] spark_catalog requires a single-part namespace, but got `silver`.`olist`.